.form_cont {
    color: white;
}
.background-color {
    background: black;
}
#inner_cont {
    margin-right: 9%;
}
.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select{
	color: white;
}
.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus{
	color: black;
}
@media (device-width: 768px){
	#inner_cont {
        margin-right: 11%;
    }
}