.setsubcont {
    color: white;
}
.word-break {
    word-break: break-all!important;
}
.setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email],.setsubcont select{
    color: white;
    }
    .setsubcont input[type=text]:focus, .setsubcont input[type=number]:focus, .setsubcont input[type=email]:focus{
    color: black;
    }
@media (min-width: 992px) {
    .col-md-12 {
        width: 90%;
    }
}
@media (device-width: 768px) {
    .table-responsive {
        width: 88%;
    }
}
@media (device-width: 1024px) {
    .table-responsive {
        width: 98%;
        margin-left:-4px;
    }
}
