:host ::ng-deep  .panel-heading .accordion-toggle:after {
    font-family: none;
    content: none;
    float: right;
    color: #fff;
}

:host ::ng-deep .panel-body.card-block.card-body {
    min-height:145px
} 

:host ::ng-deep  .panel-heading {
    padding-left:5px;
    position: relative;
    overflow: auto;
}
:host ::ng-deep .added-filter .panel-title {
    padding-left:10px;
    display: inline-block;
    width: 90%;
}
.remove-icon{
    display: inline;
    position:absolute;
    right: 10px;
    line-height: 16px;
}
.enter-manually select:focus{
    background-color:#fff;
    color:#000;
}
.filter-params{
    min-height:400px;
}
.btn{
    background-color: #337ab7
}
.add-filter-btn{
    outline: none;
    border-radius: 3px;
    /* font-family: 'AvenirLTStdMedium'; */
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #d6ecf8;
    color: black;
}
.add-filter-btn:hover{
    outline: none;
    border-radius: 3px;
    /* font-family: 'AvenirLTStdMedium'; */
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: #d6ecf8;
    color: black;
}
#inner_cont{
    overflow: auto;
}

.day{
    background-size: 14px 35px;
    padding-left: 10px;
    padding-right: 10px;
}

.status-service select,.enter-manually select{
  width:100%;
}

.filter-params .col-md-12{
  padding:0px;
}
.filter-heading{
    color: #fff;
    margin-bottom: 10px;
}
label{
    color:#fff;
}
.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .setsubcont select, .setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email] {
    color: white;
}
.form_cont input[type=text]:focus, .form-control:focus, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus, .setsubcont input[type=text]:focus, .setsubcont input[type=number]:focus, .setsubcont input[type=email]:focus {
    color: black;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) 
and (orientation : portrait){
	.filter-params .text-right{
        text-align: left;
    }
    .filter-params .day{
       margin-top:10px;
       background-size: inherit;
    }
    .filter-heading{
        font-size: 17px;
    }
    .select-filter{
        padding:0px;
    }
}