/* style used for responsive */
.setsubcont {
    margin-right: 10% !important;
}
#wrapper_setup_new {
	color: white;
}
.setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email]{
    color: white;
}
.setsubcont input[type=text]:focus, .setsubcont input[type=number]:focus, .setsubcont input[type=email]:focus{
    color: black;
}