.table-responsive {
    margin-right: 4%;
    margin-left: 2%;
}
.style-align {
    width:95%;
    border-collapse:collapse;
}
.table-heading-detail{
    width:95%;
    background-color: black; 
    color: white; 
    margin-top:10px;
    font-size: 15px;
    font-weight: bold;
}
.table-style{
    width:95%;
    border: 1px solid #ddd;
}
.form_cont{
    padding-bottom: 35px;
}
#inner_cont{
    color: white; 
}
.form_cont input[type=text] {
    color: white; 
}
.form_cont input[type=text]:focus {
    color: black; 
}
.mt-top{
    margin-top: 6px;
}
@media (max-width: 768px){
	.table-responsive {
        margin-right: 10%;
    }
}
@media (device-width: 1024px){
	.table-responsive {
        margin-right: 6%;
    }
}