.signup-maindiv {
    margin: 1% 4%;
    color: #FFFFFF;
}

.signup-middle {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
}

.signup-logo {
    width: 13%;
    min-width: 150px;
}

.signup-caption {
    margin-top: 1%;
    font-weight: 400;
    color: #FFFFFF;
    text-align: center;
}

.apont-head-large {
    background: rgba(255, 255, 255, 0.1);
    border: 0 !important;
    color: #fff;
    font-size: 25px;
    line-height: 30px;
    padding: 6px 15px;
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 600;
    letter-spacing: 0.2em;
}
.appt-box-one{
    border-top: 1px solid;
}
.form_cont .row-selected>td:first-child {
    font-size: large;
    font-weight: bold;
}
.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select{
	color: white;
}
.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus{
	color: black;
}
.gift-purchase input[type="text"]{
    font-size: 18px;
    line-height: 20px;
    height: 35px;
    font-weight: 300!important;
    color: #fff!important;
    width: 100%!important;
    background: 0 0!important;
    padding: 5px 15px;
    border: 0!important;
    border-bottom: 1px solid rgba(255,255,255,.2)!important;
    text-align: center;
    font-family: Raleway,sans-serif;
    -webkit-box-shadow: none;
    box-shadow: none;

}
.select-bg{
    width:50%
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}
