.mr-10,hr{
    margin-right: 9%;
}
.form_cont{
    color: white !important; 
}
.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select{
	color: white;
}
.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus{
	color: black;
}
:host ::ng-deep .table .table {
    background-color: none!important;
}
.bg-color{
    background-color:#808080;
    font-weight: bold;
    padding: 5px 9px;
}