.crt-tkn-select {
    width: 24.5%;
    display: inline-block;
}

.crt-tkn-cvv {
    width: 24.5% !important;
}

.crt-tkn-chkbox {
    margin-left: 0px !important;
}

.crt-tkn-error {
    margin-top: 4px;
    margin-left: 4px;
}

.form_cont label {
    margin-top: 8px;
}
#inner_cont {
    margin-right: 9%;
    color: white;
}
.form_cont input[type=text], .form-control, .form_cont input[type=email], .form_cont input[type=number], .form_cont input[type=password], .form_cont select{
	color: white;
}
.form_cont input[type=text]:focus, .form-control, .form_cont input[type=email]:focus, .form_cont input[type=number]:focus, .form_cont input[type=password]:focus{
	color: black;
}