.add-filter-btn,.add-filter-btn:hover{
    padding-top: 6px;
    outline: none;
    border-radius: 3px;
    /* font-family: 'AvenirLTStdMedium'; */
    font-size: 15px;
    letter-spacing: 1px;
    position: relative;
    margin-right: 10px;
}
.marketing-time{
    display:inline-block;
    width:fit-content
}
.datefield{
    display: inline-block;
    width: auto !important;
}
.setsubcont input[type=text], .setsubcont input[type=number], .setsubcont input[type=email], .setsubcont select{
    color: white;
}
.setsubcont input[type=text]:focus, .setsubcont input[type=number]:focus, .setsubcont input[type=email]:focus {
    color:black;
}
.word-break {
    word-break: break-all!important;
}